.popup_add_projet {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.fa-arrow-left{
        position : absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        font-size: 21px;
    }

.popup_add_projet .fa-xmark {
    position : absolute;
    top : 0px;
    right: 0px;
    cursor: pointer;
    font-size: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
}

#file {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 36px;
    width: 173px;
    background-color: #CBD6DC;
    border-radius: 50px;
    padding: 10px 16px;
    color:#306685;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
}

.containerFile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F1F6;
    height: auto;
    margin-bottom: 30px;
    border-radius: 3px;
}

.containerFile p{
    font-size: 10px;
    font-weight: 400;
    line-height: 11,73px;
    margin-bottom: 19px;
}

.fa-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 59px;
    color: #B9C5CC;
    margin-top: 22px;
    margin-bottom: 12px;
}

.button_green {
    background-color : var(--green-color);
}

.button_grey{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
    background-color : #A7A7A7;
	margin : 2em auto ;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	border: none;
}

input, select {
    height: 51px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16;
    color: var(--textinputcolor);
    border : none;
    box-shadow: 0px 4px 14px 0px #00000017;
}

.test{
    margin-top: 21px;
    margin-bottom: 10px;
}